RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*$ index.php [L,QSA]
RewriteRule ^route/.*$ route/index.php [L,QSA]

php_value session.gc_maxlifetime 1200
php_value session.cookie_lifetime 0